# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# migrations
*/migrations/*
!*/migrations/__init__.py

# environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Static files
staticfiles/

# testing
.coverage
htmlcov/

# mypy
.mypy_cache/

# pycharm
.idea/

# dotenv
.env.*